@import './common.scss';
@import './sidebar.scss';
@import './popup.scss';


$pageSize: 1200px;


// header
.header{
	margin: auto;
	height: 686px;
	background: url(../images/bg1.jpg) no-repeat center top;
	& .max_width{
		@extend .header;
		position: relative;
		max-width: 2560px;
		min-width: $pageSize;
		& .logo{
			position: absolute;
			width: 259px;
			height: 102px;
			background: url(../images/logo_xx2.png) no-repeat;
			left: 60px;
			top: 15px;
			@include nt();
		}

		& .nav{
			position: absolute;
			right: 50px;
			top: 40px;
			& a{
				display: inline-block;
				height: 50px;
				line-height: 50px;
				text-decoration: none;
				&:hover{
					& em{
						text-decoration: underline;
					}
				}
				& i, & em{
					display: inline-block;
					vertical-align: middle;
				}
				& em{
					margin: 0 20px 0 10px;
					font-size: 16px;
					color: #403a72;
				}
				& .ico_back{
					width: 16px;
					height: 16px;
					@include sprite(-280, -5);
				}
				& .ico_home{
					width: 17px;
					height: 17px;
					@include sprite(-280, -35);
				}
				& .ico_reg{
					width: 16px;
					height: 16px;
					@include sprite(-280, -70);
				}
			}
		}

		& .w{
			position: relative;
			margin: auto;
			width: 1200px;
			height: 686px;

			& .btn_login{
				position: absolute;
				left: 50px;
				top: 480px;
				width: 582px;
				height: 73px;
				@include sprite(-5, -210);
				@include nt();
				&:hover{
					@include sprite(-5, -290);
				}
				&.yet{@include sprite(-5, -370);}
			}

			& .userinfo{
				position: absolute;
				left: 77px;
				top: 560px;
				width: 528px;
				height: 39px;
				line-height: 39px;
				text-align: center;
				font-size: 14px;
				@include sprite(-5, -450);
			}
		}
	}
}


// 签到
.sign{
	margin: auto;
	width: 100%;
	height: 675px;
	background: url(../images/bg2.jpg) no-repeat center top;
	& .w{
		@extend .sign;
		position: relative;
		width: $pageSize;

		& .l_note_txt, & .r_note_txt{
			position: absolute;
			top: 130px;
			font-size: 14px;
			color: #333;
		}
		& .l_note_txt{
			left: 112px;
		}
		& .r_note_txt{
			left: 685px;
		}

		& .l_list{
			position: absolute;
			left: 155px;
			top: 170px;
			width: 300px;
			& li{
				float: left;
				padding: 0;
				margin: 0 15px 10px 15px;
				width: 120px;
				height: 132px;
				& .img{
					display: block;
					margin: auto;
					width: 101px;
					height: 101px;
					@include sprite(-5, -5);
					& img{
						margin: 10px 0 0 10px;
					}
				}
				& .name{
					display: block;
					margin: auto;
					margin-top: 10px;
					text-align: center;
					font-size: 14px;
					color: #333;
					@include ellipsis();
				}
			}
		}
		& .btn_get, & .btn_sign_get{
			position: absolute;
			width: 369px;
			height: 67px;
			@include nt();
		}
		& .btn_get{
			left: 125px;
			top: 460px;
			@include btns(0, 0);
			&:hover{@include btns(0, -67);}
			&.yet{@include btns(0, -134);}
		}
		& .btn_sign_get{
			left: 700px;
			top: 460px;
			@include btns(-369, 0);
			&:hover{@include btns(-369, -67);}
			&.yet{@include btns(-369, -134);}
		}
	}
}


// 邀请好友
.invite{
	margin: auto;
	width: 100%;
	height: 773px;
	background: url(../images/bg3.jpg) no-repeat center top;
	& .w{
		@extend .invite;
		position: relative;
		width: $pageSize;

		& .note_txt{
			padding: 130px 0 0 110px;
			font-size: 14px;
			color: #FEF6E4;
		}
	
		// 复制信息
		& .copy_info{
			position: absolute;
			left: 110px;
			top: 165px;
			width: 555px;
			height: 47px;
			& .copy_input{
				width: 533px;
				height: 45px;
				line-height: 45px;
				border: 1px solid #E5C499;
				padding: 0 10px;
				font-size: 16px;
				color: #E5C499;
				background: #3E346C;
			}
			& .btn_copy{
				position: absolute;
				right: 0;
				top: 0;
				width: 120px;
				height: 47px;
				line-height: 47px;
				text-align: center;
				text-decoration: none;
				font-size: 20px;
				color: #fff;
				background: #817CBC;
			}
		}

		// 礼包信息
		& .m_list{
			margin: 90px auto auto;
			width: 1116px;
			& li{
				position: relative;
				float: left;
				margin: 0 12px;
				width: 255px;
				height: 458px;
				background: url(../images/module_bg.jpg) no-repeat;
				&.yet{
					& .arr{
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						width: 85px;
						height: 85px;
						@include sprite(-120, -5);
					}
					// 领取按钮
					& .btn{
						@include btns(-530, -201);
						&:hover{@include btns(-530, -201);}
					}
				}

				& .arr{display: none}

				& .title{
					margin-top: 30px;
					height: 40px;
					line-height: 40px;
					text-align: center;
					font-size: 26px;
					color: #EA4F91;
				}
				& .subhead{
					margin-bottom: 35px;
					font-size: 14px;
					text-align: center;
					color: #493D79;
				}

				& .gift_list{
					margin: auto;
					width: 240px;
					& li{
						float: left;
						margin: 0 0 10px 0;
						width: 120px;
						height: auto;
						background: none;
						& .img{
							display: block;
							margin: auto;
							width: 81px;
							height: 81px;
							@include sprite(-5, -120);
						}
						& .name{
							display: block;
							margin: auto;
							margin-top: 5px;
							text-align: center;
							font-size: 14px;
							color: #333;
							@include ellipsis();
						}
					}
				}

				// 按钮
				& .btn{
					position: absolute;
					left: -5px;
					bottom: 0;
					width: 265px;
					height: 83px;
					@include btns(0, -201);
					@include nt();
					&:hover{
						@include btns(0, -284);
					}
				}
			}
		}
	}
}


// 点亮中国
.map{
	margin: auto;
	width: 100%;
	height: 1179px;
	background: url(../images/bg4.jpg) no-repeat center top;
	& .w{
		@extend .map;
		position: relative;
		width: $pageSize;
		
		& .prompt_txt{
			position: absolute;
			left: 110px;
			top: 135px;
			font-size: 14px;
			color: #FEF6E4;
			z-index: 77;
		}

		& .cur_num{
			position: absolute;
			left: 435px;
			top: 220px;
			font-size: 18px;
			text-align: center;
			color: #FEF6E4;
			z-index: 77;
			& .num{
				margin: 0 1px;
				padding: 0 5px;
				height: 40px;
				line-height: 40px;
				background: #493D79;
				border-radius: 2px;
				font-size: 18px;
				color: #FFE699;
			}
		}

		// 奖励
		& .award{
			position: absolute;
			right: 0;
			top: 400px;
			width: 166px;
			z-index: 77;
			& .img{
				display: block;
				margin: auto;
				width: 158px;
				height: 164px;
				& img{
					margin: 25px 0 0 15px;
				}
			}
			& .img1{background: url(../images/chinamap_award.png) no-repeat 0 0;}
			& .img2{
				width: 166px;
				height: 187px;
				background: url(../images/chinamap_award2.png);
			}

			& .name{
				display: block;
				margin: auto;
				margin-bottom: 20px;
				width: 158px;
				line-height: 30px;
				text-align: center;
				font-size: 14px;
				color: #FEF9E0;
			}
		}

		// 地区下拉框
		& .infos{
			position: absolute;
			left: 50%;
			top: 900px;
			margin-left: -225px;
			width: 451px;
			z-index: 77;
			& .txt{
				font-size: 16px;
				color: #fff;
				height: 35px;
				line-height: 36px;
			}
			& .area{
				padding: 15px 0;
				& select{
					padding: 10px;
					width: 145px;
					height: 40px;
					line-height: 40px;
					font-size: 14px;
				}
			}
			& .btn_map{
				display: block;
				margin: auto;
				width: 451px;
				height: 87px;
				@include btns(0, -367);
				@include nt();
				&.yet{@include btns(0, -454);}
			}
			& .have_light{
				font-size: 16px;
				color: #fff;
				height: 35px;
				line-height: 36px;
			}
		}

		& .chinamap{
			width: 1200px;
			height: 1000px;
		}
	}
}


// 规则
.rule{
	margin: auto;
	width: 100%;
	height: 540px;
	background: url(../images/bg5.jpg) no-repeat center top;
	& .w{
		@extend .rule;
		width: $pageSize;
		& .line{
			padding-top: 125px;
			height: 5px;
			border-bottom: 1px dotted #6D7273;
		}

		& .rule_cont{
			position: relative;
			margin: 25px 0 0 40px;
			width: 1150px;
			& .label1{
				position: absolute;
				top: 2px;
				left: -34px;
				width: 23px;
				height: 23px;
				line-height: 23px;
				text-align: center;
				font-size: 14px;
				color: #fff;
				@include sprite(-220, -70);
			}
			& .txt{
				font-size: 14px;
				color: #333;
				line-height: 26px;
			}
		}
	}
}
