@import "./reset.scss";


@mixin sprite($x: 0, $y: 0){
	background: url(../images/sprite.png) no-repeat $x+px $y+px;
}

@mixin btns($x: 0, $y: 0){
	background: url(../images/btns.png) no-repeat $x+px $y+px;
}

// 不显示文字
@mixin nt(){
	text-indent: -999em;
	overflow: hidden;
}

// 单行文字不换行缩写
@mixin ellipsis() {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}