/* fallback */

@import "public.scss";
// @font-face {
//     font-family: "Material Icons";
//     font-style: normal;
//     font-weight: 400;
//     src: url("../fonts/meterialicons.woff2") format("woff2");
// }

body,
html,
.body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    background: #464646;
}
.darwin{
    padding-top: 22px;
    .mac_topbar {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        -webkit-app-region: drag;
        height: 22px;
        z-index: 999999;
    }
    .project_list{
        margin-top: -6px;
    }
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

// ::-webkit-scrollbar {
//     width: 4px;
//     height: 4px;
//     background-color: none;
// }

// /*定义滚动条轨道 内阴影+圆角*/

// ::-webkit-scrollbar-track {
//     // -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
//     border-radius: 2px;
//     background-color: none;
// }

// /*定义滑块 内阴影+圆角*/

// ::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
//     background-color: rgb(160, 152, 152);
// }


.aligncenter {
    text-align: center;
}
// .project_list {
//     text-align: left;
//     display: block;
//     transition: all 0.3s;
//     margin-top: -3px;
//     li {
//         display: inline-block;
//         text-align: center;
//         width: 150px;
//         margin: 10px;
//         font-size: 12px;
//         line-height: 1.6;
//         cursor: pointer;
//         img {
//             width: 100%;
//         }
//     }
// }

.top_options_bar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 5px 0;
}
.canvas {
    margin: 0 auto;
    background: #fff;
    overflow: auto;
    position: relative;
    box-shadow: 0 0 3px #464646;
}
.main_wrap{
    height: 100%;
    &>.center{
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
    }
    
    .page_list{
        flex-grow: 0;
        flex-shrink: 0;
        white-space: nowrap;
        overflow-x: auto;
        li{
            display: inline-block;
            background: #424242;
            padding: 0 10px;
            margin-left: 1px;
            border-radius: 2px;
        }
        li.cur{
            background: #535353;
        }
    }

    .page_detail{
        flex-grow: 1;
        position: relative;
        height: 100%;
        flex-shrink: 1;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
}

.left_options {
    width: 220px;
    height: 100%;
    background: #464646;
    position: relative;
    height: 100%;
    left: 0;
    border-right: 1px solid #2c2c2c;
    box-shadow: 1px 1px 2px #464646;
    top: 0;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    &>*{
        flex-grow: 1;
        flex-shrink: 1;
    }
}
.right_area {
    width: 280px;
    height: 100%;
    background: #464646;
    position: relative;
    right: 0;
    top: 0;
    border-left: 1px solid #2c2c2c;
    box-shadow: -1px 1px 2px #464646;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    &>div{
        flex-grow: 1;
        flex-shrink: 1;
    }
}
.options_section {
    display: flex;
    flex-direction: column;
    h2 {
        background: #373737;
        line-height: 2;
        border-top: 1px solid #242424;
        border-bottom: 1px solid #242424;
        text-indent: 10px;
        flex-shrink: 0;
        flex-grow:0;
    }
    &>*{
        flex-shrink: 1;
        flex-grow: 1;
        overflow: auto;
    }
}
.element_list {
    li {
        display: inline-block;
        width: 48px;
        text-align: center;
        margin-top: 10px;
    }
}
.form_ul {
    li {
        padding-left: 10px;
        margin-top: 10px;
        label {
            display: inline-block;
            width: 96px;
            text-align: right;
            vertical-align: middle;
            // margin-right: 5px;
        }
    }
}
.canvas_outer {
    position: absolute;
    left: 220px;
    right: 220px;
    top: 0;
    bottom: 0;
    overflow: auto;
}
.form_ul {
    input,
    select {
        background: #383838;
        border: none;
    }
}
.project_list {
    li {
        
        border-radius: 5px;
        display: inline-block;
        margin: 10px;
        text-align: center;
        width: 200px;
        height: 100px;
        overflow: hidden;
        a {
            position: relative;
            overflow: hidden;
            display: block;
            height: 100%;
            transition: all 0.3s;
            background: #666;
            p {
                font-size: 20px;
                position: absolute;
                top: 50%;
                margin-top: -14px;
                left: 0;
                text-align: center;
                width: 100%;
                text-transform: Uppercase;
                text-shadow: #000 1px 1px 5px;
            }
            div {
                
                transition: all 0.3s;
                width: 100%;
                height: auto;
                transform: scale(1);
                // position: absolute;
                // top: 50%;
                width: 100%;
                height: 100%;
            }
        }
        a:hover {
            div {
                transform: scale(1.1);
                opacity: 0.8;
            }
        }
        button {
            background: none;
            width: 100%;
            height: 100%;
            padding: 0;
        }
    }
}
.dragover{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    z-index: 9999999;
}
